.open-sans{
    font-family: 'Open Sans', sans-serif;
}

.link:focus {
    outline: none !important;
}

nav{
    background: #c10200;
    border-bottom: 3px solid #950000;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

nav div a{
    border-bottom: 2px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: border 0.3s !important;
}

nav div a:hover{
    border-bottom: 2px solid #fff;
    transition: border 0.3s !important;
}

header{
    font-family: 'Open Sans', sans-serif;
    background: url("https://static1.squarespace.com/static/52fe3eade4b053964a5a8341/5756d823d51cd46816d323b5/5756d82fcf80a1df07946c77/1465309481399/5C6A6533.JPG?format=1500w");
    background-size: cover;
    background-position: 0 -300px;
}

header .overlay{
    background: #c1020091;
}

footer{
    font-family: 'Open Sans', sans-serif;
    background: #1f1f1f;
    border-top: 60px solid #c10000 !important;
    margin-top: 60px;
    color: #fff;
}

.lamp{
    width: 50px;
}

.mission{
    font-size: 13px;
}

.browning{
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #c10200;
    transition: 0.3s;
}

.browning:hover{
    border-bottom: 2px solid #fff;
    transition: 0.3s;
}

.browning-dark{
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #c10200;
    transition: 0.3s;
}
